<!DOCTYPE>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>flutter</title>
<link rel="icon" type="text/css" th:href="@{src/images/badev.png}">
<meta charset="utf-8" />
<meta name="description"
	content="Decouvrez mes expériences professionnelles en tant que developpeur concepteur logiciels et interfaces graphiques ainsi que chimiste via cette page">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{https://use.fontawesome.com/releases/v5.7.2/css/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{../srcmath/css/main.css}">


</head>

<body>
	<header class="v-header container">
		<div class="fullscreen-vedeo-wrap">
			<video autoplay muted loop>
				<source th:src="@{../srcmath/img/code.mp4}" type="video/mp4" />
			</video>

		</div>
		<div class="header-overlay"></div>
		<div class="header-content">
			<h1>weathTime</h1>
			<h2>Application mobile en flutter</h2>
			<p>Cette application est publiée sur app store</p>
			<div class="appstore">
				<div class="appleIcon"></div>
				<div>
					<a class="likeAppStore flex row" th:href="@{https://apps.apple.com/app/id1495586558}" target="_blank">
								clic pour telecharger l'app sur appstore
					</a>
				</div>
				
			
			</div>
			<div>
					<p>Cette app est disponible uniquement dans l’App Store pour iPhone et iPad</p>
			</div>
			
			



		</div>

	</header>





</body>