<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	<head>
	<meta charset="UTF-8"/>
	<title>parfums</title>
	<link rel="icon" type="text/css" th:href="@{../src/images/badev.png}">	
	<link rel="stylesheet" type="text/css" th:href="@{../srcmath/css/main.css}">
	
	</head>
	<body>
			<!--partie slides-->
			

	<div class="block_slide">
		
		<div class="container_slide">
			
			<div class="parfum">
			
				
				<img id="img0" class="img" name="img0" alt="parfum" th:src="@{../srcmath/img/img1.png}"/>
				<img id="img1" class="img" alt="parfum" th:src="@{../srcmath/img/img1.png}"/>
				<img id="img2" class="img" alt="parfum" th:src="@{../srcmath/img/img2.png}"/>
				<img id="img3" class="img" alt="parfum" th:src="@{../srcmath/img/img3.png}"/>
				<img id="img4" class="img" alt="parfum" th:src="@{../srcmath/img/img4.png}"/>
				<img id="img5" class="img" alt="parfum" th:src="@{../srcmath/img/img5.png}"/>
				<img id="img6" class="img" alt="parfum" th:src="@{../srcmath/img/img6.png}"/>
				<img id="img7" class="img" alt="parfum" th:src="@{../srcmath/img/img7.png}"/>
				<img id="img8" class="img" alt="parfum" th:src="@{../srcmath/img/img8.png}"/>
				<img id="img9" class="img" alt="parfum" th:src="@{../srcmath/img/img9.png}"/>
				<img id="img10" class="img" alt="parfum" th:src="@{../srcmath/img/img10.png}"/>
				<img id="img11" class="img" alt="parfum" th:src="@{../srcmath/img/img11.png}"/>
				<img id="img12" class="img" alt="parfum" th:src="@{../srcmath/img/img12.png}"/>
				<img id="img13" class="img" alt="parfum" th:src="@{../srcmath/img/img13.png}"/>
				<img id="img14" class="img" alt="parfum" th:src="@{../srcmath/img/img14.png}"/>
				<img id="img15" class="img" alt="parfum" th:src="@{../srcmath/img/img15.png}"/>
				<img id="img16" class="img" alt="parfum" th:src="@{../srcmath/img/img16.png}"/>
				<img id="img17" class="img" alt="parfum" th:src="@{../srcmath/img/img17.png}"/>
				<img id="img18" class="img" alt="parfum" th:src="@{../srcmath/img/img18.png}"/>
				<img id="img15" class="img" alt="parfum" th:src="@{../srcmath/img/img15.png}"/>
				
								  
							
						
			</div>
			

			
	</div>
		

		
</div>
	
		<script type="text/javascript" th:src="@{../srcmath/js/parfum.js}"></script>   
	
	</body>
</html>